<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
</head>
<body>

<div style="border: 5px solid; height: 600px; width: 70%; border-color: blue green red purple" id="2"><table>
    <tr>
        <th>Employee_Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Position</th>
    </tr>
    <!--iterates over a value expected in the model of type room named rooms
    this format lets us know we need to pass an array of type room to our model for this to work
    its saying for each room in rooms(placed in the model in room controller class) -->
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}">Employee_Id</td>
        <td th:text="${employee.lastName}">Last_Name</td>
        <td th:text="${employee.firstName}">First_Name</td>
        <td th:text="${employee.position}">Position</td>
    </tr>
</table></div>

</body>
</html>